# Arise Application Challenge
---

Please answer the questions shown below by completing the code within this notebook and filling in your final answers in the respective block of the arise Challenge Answers form.

---

### Step 1 (this step does not have an answer in the answer form)

Please import the Pandas package. You will need to install the package if you do not already have them (`hint - google anaconda install pandas`).

In [14]:
import pandas as pd

---

### Step 2 (this step does not have an answer in the answer form)

Use Pandas to read in the csv titled `application_data.csv` as a Panda's dataframe. Once you have read in the data as a dataframe use Panda's `head()` function to show an overview of the data.

In [15]:
dataset=pd.read_csv('application_data.csv')
dataset.head()

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17

In [16]:
dataset.shape

(1000, 9)

In [17]:
dataset.columns

Index(['customerID', 'loanId', 'appilcationDate', 'LoanNumber', 'LoanAmount',
       'InterestRate', 'TermDays', 'repaymentDueDate', 'repaymentPaidDate'],
      dtype='object')

In [18]:
dataset.describe()

        LoanNumber     LoanAmount  InterestRate    TermDays
count  1000.000000    1000.000000   1000.000000  1000.00000
mean      2.691000   13828.080000     23.061700    42.07500
std       2.789139   19362.887991      8.415945    34.79339
min       1.000000      80.000000      5.000000    15.00000
25%       1.000000    7500.000000     15.000000    30.00000
50%       2.000000    7500.000000     30.000000    30.00000
75%       3.000000   11000.000000     30.000000    45.00000
max      26.000000  166000.000000     36.000000   180.00000

In [19]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customerID         1000 non-null   object
 1   loanId             1000 non-null   object
 2   appilcationDate    1000 non-null   object
 3   LoanNumber         1000 non-null   int64
 4   LoanAmount         1000 non-null   float64
 5   InterestRate       1000 non-null   float64
 6   TermDays           1000 non-null   int64
 7   repaymentDueDate   1000 non-null   object
 8   repaymentPaidDate  1000 non-null   object
dtypes: float64(2), int64(2), object(5)
memory usage: 70.4+ KB

You should now be able to see that the dataset contains information relating to loans that have been disbursed. Each row of the data is specific to a particular loan and displays the customer's ID that took out the loan, a unique loan ID, the date when the client applied for the loan, the loan number of the specific loan (how many loans the client has now taken out), the amount, interest rate, term days, the date when the loan repayment was due and the date the loan was actually repaid.

---

### Question 1

Convert `appilcationDate`, `repaymentDueDate` and `repaymentPaidDate` in the dataframes to datetimes.

In [30]:
dataset['appilcationDate'] = pd.to_datetime(dataset['appilcationDate'])
dataset['repaymentDueDate'] = pd.to_datetime(dataset['repaymentDueDate'])
dataset['repaymentPaidDate'] = pd.to_datetime(dataset['repaymentPaidDate'])

In [31]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customerID         1000 non-null   object
 1   loanId             1000 non-null   object
 2   appilcationDate    1000 non-null   datetime64[ns]
 3   LoanNumber         1000 non-null   int64
 4   LoanAmount         1000 non-null   float64
 5   InterestRate       1000 non-null   float64
 6   TermDays           1000 non-null   int64
 7   repaymentDueDate   1000 non-null   datetime64[ns]
 8   repaymentPaidDate  1000 non-null   datetime64[ns]
dtypes: datetime64[ns](3), float64(2), int64(2), object(2)
memory usage: 70.4+ KB

Now that the dates have been converted, How many `unique`data types are contained within the application dataset?

In [32]:
dataset.dtypes.nunique()

4

### Question 2

Please calculate the `average` loan amount, interest rate and termdays for all the loans in the dataset? `Round` all number to two decimal places.

In [33]:
# 2a avg loan amount
round(dataset['LoanAmount'].mean(),2)

13828.08

In [34]:
# 2b avg interest rate
round(dataset['InterestRate'].mean(),2)

23.06

In [35]:
# 2c avg term days 
round(dataset['TermDays'].mean(),2)

42.08

---

### Question 3

Please create a new column called `dateDifference` which needs to contains the number of days between when the loan was repaid and when it was due to be repaid. 

Count the number of loans that were paid more than 3 days late. This can be done by first creating a dataframe only containing the loans that were paid more than 3 days late.

In [44]:
# number of loans more than 3 days late 	
dataset['dateDifference']=(dataset['repaymentDueDate']-dataset['repaymentPaidDate']).dt.days
df=dataset[dataset['dateDifference']>3]
df['dateDifference'].count()

555

---

In [45]:
dataset.head()

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,dateDifference
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16,4
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29,24
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08,30
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08,26
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17,3

### Question 4

Please group the dataset by `TermDays` and calculate the `mean` loan amount and the `standard deviation` of loan amount within each term.

What is the mean loan amount in 30-day loans and what is the standard deviation of  loan amount in 90-day loans? Please give your answers to the nearest two decimal places.

In [47]:
round(dataset[dataset['TermDays'] == 30].groupby('TermDays')['LoanAmount'].mean(),2)

TermDays
30    7941.96
Name: LoanAmount, dtype: float64

In [48]:
round(dataset[dataset['TermDays'] == 90].groupby('TermDays')['LoanAmount'].std(),2)

TermDays
90    18050.14
Name: LoanAmount, dtype: float64

---

### Question 5

`Late` loans are defined as loans that were paid `more than 3 days` after their due date. Please find the average number of days that these loans were paid beyond their due date for each `week of the year`. This will require you to break all `appilcationDate's` down into the week of the year they were made and then perform a group by. 

What is the average number of days that `late` loans applied for in the second week of the year were paid late? Please sumbit your answer rounded to two decimal places.

In [49]:
# week of year and average number of late days
df['week of the year'] = df['appilcationDate'].dt.isocalendar().week
df[df['week of the year'] == 2].groupby('week of the year').mean()['dateDifference']

/var/folders/5m/l3y8vbm544v6h0h63cjj_8l00000gn/T/ipykernel_7483/2611204833.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['week of the year'] = df['appilcationDate'].dt.isocalendar().week

week of the year
2    32.0
Name: dateDifference, dtype: float64

---

### The End

Thank you for completing the challenge. Please make sure you have submitted all of your answers to the arise Challenge Answers form.

### Notebook
Please save you notebook as `yourEmail.ipynb` where you replace `yourEmail` with your actual email address and attach it to the iodeajo@gmail.com.